<div class="jumbotron">
  <div class="container">
    <div class="header">

<h1>Welcome to my about page</h1>
</div>

<p>Here you can find information about our shop. :)</p>
<%= image_tag("BMW.jpg", class: "img-responsive my-image") %>
</div>
