<div class="jumbotron">
  <div class="container">
    <div class="header">

<h1>Welcome to my contact page</h1>
</div>
<p>Here you can find contact information if you want to order a bike. </p>
<%= image_tag("Ducati.webp", class: "img-responsive my-image") %>
</div>
