<div class="jumbotron">
  <div class="container">
    <div class="header">

<h1>Welcome to Bike Berlin</h1>
<p>Your source for used bikes in Berlin</p>
<%= image_tag("Honda.webp", class: "img-responsive my-image") %>
</div>

</div>
